<h1>{{title}}</h1>
<h3><b>Bienvenido al {{title}}</b></h3>
<body background="https://fondosmil.com/fondo/31866.png"></body>
<a href="/pacientes">Listar Pacientes</a>
<a href="/medicos">Listar Medicos</a>
<a href="/citas">Listar Citas Medicas</a>
